<div class="container-fluid" style="background-color: #111111;">
   <footer>
   	 <div class="container">
            <div class="row">
                 <div class="col-md-3 col-centered">
                       <h6 class="text-uppercase text-center"> stay in touch with cat </h6>
                       <div class="row">
                            <div class="col-md-6 icons">
                             <i class="fa fa fa-facebook-square"> </i>
                             </div>
                             <div class="col-md-6 icons">
                             <i class="fa fa fa-instagram"> </i>
                             </div>
                       </div>
                  </div>
            </div>
    </div>
   </footer>
</div>
