<div class="row" id="breeds" style="margin-top: 20px;">
   <h3 class="text-uppercase text-center" style="width: 100%;"> 3 most popular cat breeds </h3>
       <div class="col-md-4 breed">
          <h6 class="text-center"> persian </h6>
          <div class="breed-cat">
               <img src="assets/images/breeds/persian.jpg" alt="Persian cat"/>
          </div>
          <div class="breed-description">
             <p>Persians require a secure, serene environment, but once they feel safe, they will be a constant source of pleasure to the lucky household that is owned by a Persian. 
             </p>
          </div>
       </div>
       <div class="col-md-4 breed">
          <h6 class="text-center"> british shorthair </h6>
          <div class="breed-cat">
               <img src="assets/images/breeds/british.jpg" alt="Persian cat"/>
          </div>
          <div class="breed-description">
             <p>The British Shorthair cat was the only pedigreed cat featured at the first cat shows, and it is considered to be the oldest English breed. While moderately active, they are ideal household cats...
             </p>
          </div>
       </div>
       <div class="col-md-4 breed">
          <h6 class="text-center"> abyssinian </h6>
          <div class="breed-cat">
               <img src="assets/images/breeds/abyssinian.jpg" alt="Persian cat"/>
          </div>
          <div class="breed-description">
             <p>The Abyssinian, fondly called the Aby, is a lively and active cat. Many Abyssinians love water. Be prepared to provide plenty of interactive play for an Aby cat... 
             </p>
          </div>
       </div>
</div>


