<div id="whole-div">
  <div id="background-div">
        <div>
           <img class="img-responsive" src="assets/images/background.jpg" style="width: 100%;">
        </div>
        <nav> 
          <div class="container">
              <div id="logo">
                 <img src="assets/images/logo.png"/>
              </div>
              <div id="main-nav">
                    <div id="menu">
                        <img src="assets/images/menu.png"/>
                    </div>
                    <ul> 
                       <a href="#who"> <li> WHO? </li> </a>
                       <a href="#breeds"> <li> BREEDS </li> </a>
                       <a href="#contact"> <li> CONTACT </li> </a>
                    </ul>
              </div>
          </div>
        </nav>
        <div id="background-details">
              <div class="container">
                   <div class="row cat-quote">
                       <h1 class="text-uppercase"> “Me-EHH-UF-ow”  </h1> 
                       <h6> “You f*ck - you ate my cat!”  </h6>  
                       <button class="btn btn-danger">Random cat button</button>                   
                   </div>
              </div>
        </div>
  </div>


  <div class="container" id="who">
       <div class="row" style="margin-top: 20px; padding: 10%">
            <h3> ONE THING ABOUT CATS </h3>
            <blockquote class="blockquote"> 
            <p class="mb-0"> Of all God's creatures, there is only one that cannot be made slave of the leash. That one is the cat. If man could be crossed with the cat it would improve the man, but it would deteriorate the cat. 
            </p>
            <footer class="blockquote-footer">Someone <cite title="Source Title"> famous</cite></footer>

            </blockquote>
       </div>

       <app-breeds> </app-breeds>
       <app-contact> </app-contact>
  </div>
  <app-footer> </app-footer>
</div>

